{% extends 'base.html' %}
{% load static %}
{% block title %}<title>ToDo | Sign In</title>{% endblock %}


{% block content %}


<div class="ui two column doubling stackable grid container" style="margin-top: 20px;">

    <div class="column">
        <h2 class="mt-5">Sign In.</h2>
        <p class="lead">No account, signup <a href="{% url 'accounts:register' %}">here</a></p>

        {% for message in messages %}
        <p style="color: darkcyan;">{{message}}</p>
        {% endfor %}

        <form method="POST" class="ui form">
            {% csrf_token %}
            <div class="field">
                <label for="username">Username:</label>
                <input name="username" placeholder="Username" type="text" />
            </div>

            <div class="field">
                <label for="password">Password:</label>
                <input name="password" placeholder="Password" type="password" />
            </div>

            <input type="submit" class="ui primary button" value="Login" />
        </form>

        <p class="mt-5" style="font-size: 12px; color: grey; margin-top: 20px;">
            NB: We do not store your password or other personal information.
        </p>
    </div>

</div>

{% endblock %}